body {
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  min-height: 100vh;
  backdrop-filter: blur(10px);
}

#app {
  padding: 2rem;
}

.copyright {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-top: 1rem;
  font-size: .5rem;
}